[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[user]
	name = liumuqi
	email = 399211328@qq.com
;[diff]
    ;;tool = kdiff3
    ;tool = sourcetree
;[difftool]
    ;prompt = false
[alias]
    c = commit
    m = merge
    co = checkout
    br = branch 
    st = status
	d = difftool
    lg = log --graph --abbrev-commit --decorate --author-date-order --format=format:'%C(bold cyan)%ai %C(reset) - %C(bold blue)%h%C(reset) - %an%C(reset) - ''%C(white)%s%C(reset) %C(dim white) - %C(bold cyan)%ar%C(reset) %C(reset)%C(bold red)%d%C(reset)' --author='^((?!aone).*)$'
    ;lg = log --graph --abbrev-commit --decorate --author-date-order   --format=format:'%C(bold cyan)%ai[%ci]%C(reset) - %C(bold blue)%h%C(reset) - %an%C(reset) - ''%C(white)%s%C(reset) %C(dim white) - %C(bold cyan)%ar%C(reset) - %C(reset)%C(bold yellow)%d%C(reset)' --author='^((?!aone).*)$'
    lpg = log --graph --abbrev-commit --decorate --author-date-order  --format=format:'%C(bold cyan)%ai %C(reset) - %C(bold blue)%h%C(reset) - %an%C(reset) - ''%C(white)%s%C(reset) %C(dim white) - %C(bold cyan)%ar%C(reset) %C(reset)%C(bold red)%d%C(reset) ' --first-parent --author='^((?!aone).*)$'
    lsg = log --graph --abbrev-commit --decorate --author-date-order  --format=format:'%C(bold cyan)%ai %C(reset) - %C(bold blue)%h%C(reset) - %an%C(reset) - ''%C(white)%s%C(reset) %C(dim white) - %C(bold cyan)%ar%C(reset) %C(reset)%C(bold red)%d%C(reset) ' --all --author='^((?!aone).*)$';--simplify-by-decoration
    lspg = log --graph --abbrev-commit --decorate --author-date-order  --format=format:'%C(bold cyan)%ai %C(reset) - %C(bold blue)%h%C(reset) - %an%C(reset) - ''%C(white)%s%C(reset) %C(dim white) - %C(bold cyan)%ar%C(reset) %C(reset)%C(bold red)%d%C(reset)' --all --first-parent --author='^((?!aone).*)$'
    lscg = log --graph --author-date-order --abbrev-commit --format=format:'%C(bold cyan)%ai %C(reset) - %C(bold blue)%h%C(reset) - %an%C(reset) - ''%C(white)%s%C(reset) %C(dim white) - %C(bold cyan)%ar%C(reset) %C(reset)%C(bold red)%d%C(reset)' --all --author='^((?!aone).*)$'
    rl = reflog --pretty=reflog
	cmm = rebase -i @{upstream}
    find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
    show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\"  ] && git show $merge'"
[color]
    diff = auto
	ui = true
[core]
	excludesfile = /Users/qishan/.gitignore_global
	ignorecase = false
	;editor = vim
[merge]
    tool = p4merge
    keepBackup = false
    no-ff = true
[mergetool "p4merge"]
    cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
;[diff]
    ;external = p4diff
[credential]
	helper = osxkeychain
[pull]
    rebase = true
;[mergetool]
	;keepBackup = false
[grep]
	patternType = perl
;[difftool "sourcetree"]
	;cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	;path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/qishan/.stCommitMsg
[pretty]
    reflog = %C(auto)%h %<|(20)%gd %C(red)%cr%C(reset) %gs (%s)
