#mavenignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

#eclipseignore
.metadata/
.settings/
.project
.classpath
.springBeans

#ideaignore
.idea/
.idea
*.ipr
*.iml
*.iws

#tempignore
logs/
*.log
*.cache
*.diff
*.patch
*.tmp
*.swp


#cacheignore
cache/git

#systemignore
.DS_Store
Thumbs.db
