[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = muqi.lmq
	email = muqi.lmq@autonavi.com
[diff]
	tool = vimdiff
[difftool]
	prompt = yes
[alias]
    st = status
	d = difftool
    m = mergetool
    lg = log --graph --abbrev-commit --decorate --author-date-order --abbrev-commit --format=format:'%C(bold blue)%h%C(reset) - %an%C(reset) - %C(bold cyan)%aD%C(reset) %C(reset)%C(bold yellow)%d%C(reset) - ''%C(white)%s%C(reset) %C(dim white)'
    lpg = log --graph --abbrev-commit --decorate --author-date-order --abbrev-commit --format=format:'%C(bold blue)%h%C(reset) - %an%C(reset) - %C(bold cyan)%aD%C(reset) %C(reset)%C(bold yellow)%d%C(reset) - ''%C(white)%s%C(reset) %C(dim white)' --first-parent
    lsg = log --graph --abbrev-commit --decorate --author-date-order --abbrev-commit --format=format:'%C(bold blue)%h%C(reset) - %an%C(reset) - %C(bold cyan)%aD%C(reset) %C(reset)%C(bold yellow)%d%C(reset) - ''%C(white)%s%C(reset) %C(dim white)' --all
    lspg = log --graph --abbrev-commit --decorate --author-date-order --abbrev-commit --format=format:'%C(bold blue)%h%C(reset) - %an%C(reset) - %C(bold cyan)%aD%C(reset) %C(reset)%C(bold yellow)%d%C(reset) - ''%C(white)%s%C(reset) %C(dim white)' --all --first-parent
[color]
    diff = auto
	ui = true
[core]
	excludesfile = /Users/qishan/.gitignore_global
	ignorecase = false
	editor = vim
[merge]
	tool = vimdiff
	conflictstyle = diff3
	commit = no
	ff = no
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[mergetool]
	keepBackup = false
